# Ignore virtual environment
venv/

# Ignore the dataset that was added to DVC
MachineLearningRating_v3.csv

# Ignore DVC metadata
.dvc/

# Ignore DVC storage directory (make sure the directory is correctly specified)
dvc_storage/
UsersHpVideosdvc_storage/

# Ignore large files and directories that are not required by Git
**/*.dvc

# Ignore any other files you don't want to track with Git
*.log
*.tmp
*.bak
